<% include ../../header %>

<h2>THE ADMIN ZONE | Manage Locations</h2>

<a href="/admin/locations/new" class="btn btn-success col-xs-offset-5">+ Location</a>
<div class="row">
	<p class="col-xs-12"> </p>
</div>

<table>
  <tr>
    <th class="col-xs-4">Name</th>
    <th class="col-xs-4">Latitude</th>
    <th class="col-xs-4">Longitude</th>
  </tr>

	<% locations.forEach(function(location) { %>
    <tr>
      <td><%= location.name %></td>
      <td><%= location.lat %></td>
      <td><%= location.lon %></td>
      <td><a href="/admin/locations/<%= location.id %>">edit</a></td>
      <td>
        <form action="/admin/locations/<%= location.id %>?_method=delete" method="post">
          <input type="submit" value="delete"/>
        </form>
      </td>
    </tr>
  <% }) %>
</table>

<% include ../../footer %>
