<% include ../header %>

<h1>It's a Match!</h1>

<div class="partner">
	<h2><%= other_user.name %></h2>
</div>

<div id="schedule-selfie"><%= location.name %></div>
<div id="schedule-map"></div>

<form action="/selfies/new?question=<%= question.id %>">
	<h2>Question</h2>
	<fieldset>
		<label for="question"><%= question.question %></p>
		<textarea name="question"></textarea>
	</fieldset>
	<input type="submit" value="Selfie!" />
</form>

<script type="text/javascript">
var destination = {
    lat: <%= location.lat %>,
    lon: <%= location.lon %>
}
</script>

<% include ../footer %>
